<div *ngIf="!this.loginState">
  <app-login></app-login>
</div>
<div style="margin-left:10px;width:30rem" *ngIf="this.loginState">
  <h3 class="text-center">Welcome to 2Factor</h3>

  Ths site uses Angular and Node. Login uses JWT followed by Cellphone auth.
  <p>
  DuoMobile based authentication requires manually adding the user to the Duo Mobile app.
  To fully automate registration, the 'Phone text' validation is used.
  </p>
  <p>
  Users access different games (to exercise various Angular/Node features) like auto-bezier, crossword creation, hangman, and chat, after successful login.
  </p>
</div>
