<ul>
  <li><a [routerLink]="['/home']">Home</a></li>

  <!--<li *ngIf="!(this.loginService.loginStatus$ | async)" (click)="loginService.login()">Login</li>-->
  <li *ngIf="(this.loginState)" (click)="loginService.logout()">Logout</li>

  <li (click)="this.handleHello()">Hello</li>
  <li class="header-app-state" *ngIf="this.helloResponse"> [hello: {{ this.helloResponse }} ]</li>
  <li class="header-app-state"> [login: {{ this.loginState }} ]</li>
  <li *ngIf="
      (this.statusMessageService.statusMessage$ | async) !== null
        &&
      (this.statusMessageService.statusMessage$ | async) !== ''
    " class="header-app-state">
    status-message: [{{ this.statusMessage }} ]
  </li>

</ul>
